@import './base.css';

#app {
    margin: 0;
    font-weight: normal;
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: center;
    background-color: white;
}

.no-scroll-html {
    overflow-y: hidden !important;
}